{% extends "base.html" %}
{% block head %}
<title>Dashboard</title>
<style>
    .list-inline {
        margin-left: 0px;
        list-style: none;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Today)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">₹ {{total_amt_today.profit__sum}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Total)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">₹ {{all_total}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total (In Hand)</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">₹ {{inHand}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total (Pending) </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">₹ {{total_bal}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tables -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="table-print" style="display: flex; justify-content: space-between; align-items: center;">
            <h6 class="m-0 font-weight-bold text-primary">Daily Services</h6>
            <button class="btn btn-primary">
                <h6 class="m-0 font-weight-bold ">Print Report</h6>
            </button>
        </div>
    </div>
    <div class="card-body  border-bottom-primary">
        <div class="table-responsive ">
            <table class="table table-bordered" data-order='[[ 0, "des" ]]' id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Service Name</th>
                        <th>Customer Name</th>
                        <th>Service Charge</th>
                        <th>isPaid</th>
                        <th>Profit</th>
                        <th>Paid Amount</th>
                        <th>Service Date</th>
                        <th>Balance Paid Date</th>
                    </tr>
                </thead>

                <tbody>
                    {% for service in service_table %}
                    <tr>
                        <td>{{service.service_name}}</td>
                        <td>{{service.customer_id.name}}</td>
                        <td>{{service.service_charge}}</td>
                        {% if service.isPaid == True %}
                            <td>Paid</td>
                        {% else %}
                            <td>Not Paid</td>
                        {% endif %}
                        <td>{{service.profit}}</td>
                        <td>{{service.paid_amt}}</td>
                        <td>{{service.service_date}}</td>
                        {% if service.bal_paid_date == None %}
                        <td>-</td>
                        {% else %}
                        <td>{{service.bal_paid_date}}</td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end tables -->
{% endblock %}

{%block javascript%}
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "ordering": false
        });
    });
</script>
{%endblock%}